@media only screen and (max-width: 1280px) {

    .contaner {
        margin-top: 3vh;

    }

    .item {
        width: 40rem;
        background-color: #f5ce79;
    }


    .spanbtn {
        background-color: #f5ce79;
        border: 2px solid #f5ce79;
    }

    .btn3 {
        width: 100px;
        height: 30px;
        font-size: 15px;
        margin-top: 15px;
        border: none;
        background-color: #e0dede;
    }

    .btn3 i {
        font-size: 50px;
    }

    .btn2 {
        width: 100px;
        height: 30px;
        font-size: 15px;
        margin-top: 15px;
        border: none;
        background-color: #e0dede;

    }

    .btn2 i {
        font-size: 50px;
    }


    .inbt {
        width: 100vh;
    }

    .filter {
        width: 50vh;
        height: 50px;
        margin-top: 50px;
        border: 2px greenyellow solid;
        border-radius: 20px;
        font-size: 30px;
        outline: none;

    }

    .filter-conten {
        width: 700px;
        text-align: center;
        margin-left: 250px;
    }


}